alias gs="git status"
alias ga="git add ."
alias gc="git commit -m"
alias gp="git pull origin"
alias gP="git push origin"
alias gch="git checkout"
alias gcb="git checkout -b"
alias guc="git reset --soft HEAD^"

alias ys="yarn start"
alias yrw="yarn run watch"
alias nrw="npm run watch"
alias nr="npm run"
alias ns="npm start"
alias rna="react-native run-android"

alias c="clear"
alias l="ls"
alias la="ls -la"
alias aliases="vi ~/.aliases"
alias reload=". ~/.aliases"

alias va=". venv/bin/activate"
alias pyr="./manage.py runserver"

alias tconf="vi ~/.tmux.conf"
alias tn="tmux new -s"
alias tl="tmux ls"
alias ta="tmux attach -t"
alias tk="tmux kill-session -t"

alias androidstudio="sh /usr/local/android-studio/bin/studio.sh"
alias androidStudio="androidstudio"

alias n="nvm"
alias vimrc="vim ~/.vimrc"

function docker_bash () {
  sudo docker exec -it $1 /bin/bash
}
